.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first {
  align-items: flex-end;
  justify-content: flex-end;
}
.countries--second {
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: center;
}
.countries--third {
  align-items: baseline;
  justify-content: center;
}
.countries--third :nth-child(1) {
  align-self: flex-end;
}
.countries--fourth {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.countries--fourth :nth-child(3) {
  align-self: center;
}
.countries--fourth :nth-child(4) {
  align-self: center;
}
.countries--fifth {
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-between;
}
.countries--fifth :nth-child(4) {
  order: 1;
}
.countries--fifth :nth-child(5) {
  align-self: center;
}
.countries--first,
.countries--second,
.countries--third,
.countries--fourth,
.countries--fifth {
  width: 550px;
}
